.con-bod{
    color: white;
    border-radius: 15px 15px 15px 15px;
    background-color: #343a40;
    /* background: linear-gradient(90deg, rgba(44,11,61,1) 0%, rgba(9,51,111,1) 0%, rgba(42,150,166,0.9752275910364145) 0%, rgba(8,74,76,1) 0%, rgba(11,67,105,1) 0%, rgba(43,97,147,1) 0%, rgba(7,42,57,1) 0%, rgba(22,172,150,1) 50%, rgba(7,41,54,1) 100%, rgba(7,41,51,1) 100%, rgba(7,40,47,1) 100%); */
}
 .btn{
    border-radius: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    border-width: thick;
 }